<a href="https://colab.research.google.com/github/laithhamdan50-bit/readme/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_excel("/content/company.csv.xlsx")

In [ ]:
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
data.shape

(22, 9)

In [ ]:
data.dtypes

id               int64
Education       object
JoiningYear      int64
City            object
Age              int64
Gender          object
salary         float64
Experience     float64
LeaveOrNot      object
dtype: object

In [ ]:
data.head(10)

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no

In [ ]:
data.tail()

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
data.loc[15:20]

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no

In [ ]:
data.iloc[15:20]

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
data["id"]

0     8675
1     1531
2     3028
3     2203
4     4848
5     6877
6     2012
7     8886
8     8741
9     6789
10    9872
11    2017
12    3018
13    1056
14    6845
15    4245
16    6688
17    9764
18    2099
19    3001
20    2099
21    3001
Name: id, dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           22 non-null     int64
 1   Education    22 non-null     object
 2   JoiningYear  22 non-null     int64
 3   City         22 non-null     object
 4   Age          22 non-null     int64
 5   Gender       22 non-null     object
 6   salary       21 non-null     float64
 7   Experience   21 non-null     float64
 8   LeaveOrNot   21 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 1.7+ KB

In [ ]:
data.isnull()

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

id             0
Education      0
JoiningYear    0
City           0
Age            0
Gender         0
salary         1
Experience     1
LeaveOrNot     1
dtype: int64

In [ ]:
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
data.columns

Index(['id', 'Education', 'JoiningYear', 'City', 'Age', 'Gender', 'salary',
       'Experience', 'LeaveOrNot'],
      dtype='object')

In [ ]:
data[data["City"]=="Amman"]

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no

In [ ]:
data['salaryover10']=data['salary']/10

In [ ]:
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0

In [ ]:
data['new colom']=0
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10,new colom
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0,0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0,0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0,0
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0,0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0,0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0,0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0,0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0,0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0,0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0,0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0,0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0,0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0,0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0,0
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN,0
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0,0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0,0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0,0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0

In [ ]:
data['evaluation']=np.where(data['salary']>700,'good','bad')
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10,new colom,evaluation
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0,0,bad
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0,0,bad
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0,0,good
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0,0,good
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0,0,good
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0,0,bad
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0,0,bad
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0,0,bad
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0,0,bad
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0,0,good
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0,0,good
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0,0,bad
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0,0,good
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0,0,bad
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN,0,bad
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0,0,bad
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0,0,bad
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0,0,bad
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad

In [ ]:
def cheak_salary(salary):
  if salary==700:
    return salary*1.20
  else:
    return salary

data['new salary']=data['salary'].apply(cheak_salary)
data

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10,new colom,evaluation,new salary
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0,0,bad,500.0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0,0,bad,560.0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0,0,good,1000.0
3,2203,Masters,2016,Irbid,27,Female,800.0,5.0,NaN,80.0,0,good,800.0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0,0,good,800.0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0,0,bad,550.0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0,0,bad,550.0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0,0,bad,550.0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0,0,bad,550.0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0,0,good,900.0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0,0,good,800.0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0,0,bad,840.0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0,0,good,1500.0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0,0,bad,560.0
14,6845,Bachelors,2012,Irbid,37,Male,NaN,NaN,yes,NaN,0,bad,NaN
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0,0,bad,500.0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0,0,bad,550.0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0,0,bad,600.0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad,650.0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad,650.0
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad,650.0
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad,650.0

In [ ]:
data.isnull().sum()

id              0
Education       0
JoiningYear     0
City            0
Age             0
Gender          0
salary          1
Experience      1
LeaveOrNot      1
salaryover10    1
new colom       0
evaluation      0
new salary      1
dtype: int64

In [ ]:
print(data.isnull().any(axis=0))

id              False
Education       False
JoiningYear     False
City            False
Age             False
Gender          False
salary           True
Experience       True
LeaveOrNot       True
salaryover10     True
new colom       False
evaluation      False
new salary       True
dtype: bool

In [ ]:
data.dropna(axis=0,how='any')

,id,Education,JoiningYear,City,Age,Gender,salary,Experience,LeaveOrNot,salaryover10,new colom,evaluation,new salary
0,8675,Bachelors,2017,Amman,34,Male,500.0,0.0,yes,50.0,0,bad,500.0
1,1531,Bachelors,2013,Irbid,28,Female,560.0,3.0,no,56.0,0,bad,560.0
2,3028,PHD,2014,Irbid,38,Female,1000.0,2.0,no,100.0,0,good,1000.0
4,4848,Masters,2017,Amman,24,Male,800.0,2.0,yes,80.0,0,good,800.0
5,6877,Bachelors,2016,Amman,22,Male,550.0,0.0,yes,55.0,0,bad,550.0
6,2012,Bachelors,2015,Irbid,38,Male,550.0,0.0,no,55.0,0,bad,550.0
7,8886,Bachelors,2016,Aqaba,34,Female,550.0,2.0,no,55.0,0,bad,550.0
8,8741,Bachelors,2016,Amman,23,Male,550.0,1.0,no,55.0,0,bad,550.0
9,6789,Masters,2017,Amman,37,Male,900.0,2.0,no,90.0,0,good,900.0
10,9872,Masters,2012,Amman,27,Male,800.0,5.0,no,80.0,0,good,800.0
11,2017,Bachelors,2016,Amman,34,Male,700.0,3.0,no,70.0,0,bad,840.0
12,3018,PHD,2018,Irbid,32,Male,1500.0,5.0,no,150.0,0,good,1500.0
13,1056,Bachelors,2016,Aqaba,39,Male,560.0,2.0,no,56.0,0,bad,560.0
15,4245,Bachelors,2017,Irbid,29,Female,500.0,3.0,no,50.0,0,bad,500.0
16,6688,Bachelors,2014,Amman,34,Female,550.0,2.0,no,55.0,0,bad,550.0
17,9764,Bachelors,2014,Amman,34,Male,600.0,4.0,no,60.0,0,bad,600.0
18,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad,650.0
19,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad,650.0
20,2099,Bachelors,2015,Amman,30,Female,650.0,0.0,no,65.0,0,bad,650.0
21,3001,Bachelors,2010,Amman,30,Male,650.0,0.0,no,65.0,0,bad,650.0

In [ ]:
data.dropna(axis=1,how='any')

      id  Education  JoiningYear   City  Age  Gender  new colom evaluation
0   8675  Bachelors         2017  Amman   34    Male          0        bad
1   1531  Bachelors         2013  Irbid   28  Female          0        bad
2   3028        PHD         2014  Irbid   38  Female          0       good
3   2203    Masters         2016  Irbid   27  Female          0       good
4   4848    Masters         2017  Amman   24    Male          0       good
5   6877  Bachelors         2016  Amman   22    Male          0        bad
6   2012  Bachelors         2015  Irbid   38    Male          0        bad
7   8886  Bachelors         2016  Aqaba   34  Female          0        bad
8   8741  Bachelors         2016  Amman   23    Male          0        bad
9   6789    Masters         2017  Amman   37    Male          0       good
10  9872    Masters         2012  Amman   27    Male          0       good
11  2017  Bachelors         2016  Amman   34    Male          0        bad
12  3018        PHD         2018  Irbid   32    Male          0       good
13  1056  Bachelors         2016  Aqaba   39    Male          0        bad
14  6845  Bachelors         2012  Irbid   37    Male          0        bad
15  4245  Bachelors         2017  Irbid   29  Female          0        bad
16  6688  Bachelors         2014  Amman   34  Female          0        bad
17  9764  Bachelors         2014  Amman   34    Male          0        bad
18  2099  Bachelors         2015  Amman   30  Female          0        bad
19  3001  Bachelors         2010  Amman   30    Male          0        bad
20  2099  Bachelors         2015  Amman   30  Female          0        bad
21  3001  Bachelors         2010  Amman   30    Male          0        bad